<div class="flex items-center">
    <a class="shrink-0" href="https://penger.city">
        <img
            class="pixelated size-32 motion-safe:animate-[pengerFlip_3s_infinite]"
            src="/tonger.png"
            alt="tonger"
        />
    </a>
    <p>← nice little guy, his name is Tonger</p>
</div>

<style>
    @keyframes pengerFlip {
        50% {
            transform: scaleX(-1);
        }
    }
</style>
